@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Enquete Web</title>
</head>
<body>
    <div class="container">
        <h1>Enquete Web</h1>
        <H2>Obrigado por responder.</H2>
        <p>
            @* <a href="/Home/Index">Voltar para inicio</a> *@
            <!-- <a href="/Home/Index">Voltar para inicio</a> -->
            <a asp-action="Index" class="btn btn-primary">Voltar para inicio</a>
            <a asp-action="Resultado" class="btn btn-primary">Ver Resultados Parciais</a>
        </p>  
    </div>
</body>
</html>