@model IEnumerable<Resposta>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Enquete Web :: Resultado Parcial</title>
</head>
<body>
    <div class="container">
        <h1>Enquete Web</h1>
        <H2>Resultado Parcial</H2>
        <H4>Voce teria coragem de viajar?</H4>

        @foreach (Resposta r in Model)
        {
            <p>@(r.Nome) : @(r.Sim.Value ? "Sim" : "Não")</p>
        }
        <p>
            @* <a href="/Home/Index">Voltar para inicio</a> *@
            <!-- <a href="/Home/Index">Voltar para inicio</a> -->
            <a asp-action="Index" class="btn btn-primary">Voltar para inicio</a>
        </p>    
    </div>
</body>
</html>